html{
	background-color: #106AFF!important;
}
body{
	background-color: transparent !important;

	font-family: 'Questrial', sans-serif !important;
	color: #BFFBEE!important;
}

.navbar-brand {
	
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	color: #1F0574!important;
}
h2{
	font-family: 'Poiret One', cursive;
font-size: 40px;
	font-weight: bold;
	color: #1F0574;
}
